# Eclipse
build
.classpath
.project
.settings/
.worksheet
org.scala-ide.sdt.core/META-INF/MANIFEST.MF
org.scala-ide.sdt.update-site/site.xml

# Intellij Idea
*.log
*.iml
*.ipr
*.iws
.idea/

# Maven
log/
target/
dependency-reduced-pom.xml

# Mac
.DS_Store